certifi==2022.12.7
charset-normalizer==3.0.1
Django==2.2.16
flake8==6.0.0
idna==3.4
mccabe==0.7.0
Pillow==9.4.0
pycodestyle==2.10.0
pyflakes==3.0.1
python-dotenv==0.21.1
pytz==2022.7.1
requests==2.28.2
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.3
stripe==5.1.1
urllib3==1.26.14
